/*********************************************TAG SALECTORS********************************************/

/*
body {
    background-color: white;
}
*/



/********************************************CLASS SALECTORS******************************************/



}

.A {
    color: red;
}

.FZ:hover {
    color: rgb(255, 0, 0);
  }



/******************************************ID SALECTORS**********************************************/

#id {
  color: rgb(2, 197, 2);
}


